.carousel {
  flex: auto 1 1;
  height: 400px;
  margin-top: 10px;
  position: relative;
}

.items-container {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.item {
  display: none;
  position: relative;
  animation: 0.5s ease-in-out;
  margin: 0 auto;
}

.active,
.next {
  display: block;
}

.next {
  position: absolute;
  top: 0;
  width: 100%;
}

.description {
  display: flex;
  height: 400px;
  justify-content: space-between;
  position: relative;
}

.slide-theyalow {
  background: url('../images/theyalow.png') no-repeat;
  background-size: cover;
}

.slide-repair {
  background: url('../images/repair.png') no-repeat;
  background-size: cover;
}

.slide-txt {
    position: absolute;
    width: 320px;
    height: 100%;
    right: 60px;
    background: rgba(255, 255, 255, 0.8);
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-shadow: 0 0 10px black;
}

.slide-txt h2 {
    margin-left: 20px;
}

.slide-txt ul {
    margin-top: 0;
}

.slide-txt a {
    display: block;
    width: 90%;
    height: 40px;
    box-sizing: border-box;
    margin-top: 40px;
    padding-top: 10px;
    align-self: center;
    text-align: center;
    text-decoration: none;
    font-family: sans-serif;
    color: black;
    border: 1px solid black;
    border-radius: 5px;
}

.control {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 15%;
  cursor: pointer;
}

.control.left {
  left: 0;
  right: auto;
}

.control.right {
  right: 0;
  left: auto;
}

.arrow {
  display: inline-block;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 84px;
  color: white;
}

.arrow.right {
  right: 0;
}

.to-left {
  animation-name: left;
}

.from-right {
  animation-name: right;
}

.to-right {
  animation-name: right;
  animation-direction: reverse;
}

.from-left {
  animation-name: left;
  animation-direction: reverse;
}

@keyframes left {
  from {
    left: 0;
  }
  to {
    left: -100%;
  }
}

@keyframes right {
  from {
    left: 100%;
  }
  to {
    left: 0;
  }
}

@media (max-width: 960px) {
  .description {
    flex-direction: column;
    align-items: center;
  }
}

@media (max-width: 640px) {
  .control > .arrow {
    display: none;
  }

  .project-name {
    display: none;
  }

  .description {
    border: 0;
  }
}
