@font-face { 
  font-family: 'Lucida Sans'; 
  src: url('./assets/fonts/OpenSans-Italic.ttf');
  font-weight: normal; 
  font-style: normal; 
}

@font-face { 
  font-family: 'Segoe WP'; 
  src: url('./assets/fonts/SegoeWP.woff');
  font-weight: normal; 
  font-style: normal; 
}

@font-face { 
  font-family: 'Asap'; 
  src: url('./assets/fonts/Asap-Regular.otf');
  font-weight: normal; 
  font-style: normal; 
}


@font-face { 
  font-family: 'PT Sans'; 
  src: url('./assets/fonts/PTSans-Regular.ttf');
  font-weight: normal; 
  font-style: normal; 
  font-weight: 400;
}

body {
  margin: 0;
  padding: 0;
}

.inner-wrapper {
  position: relative;
  width: 1300px;
  margin: 0 auto;
  box-shadow:  inset 0 -3px 8px -4px rgb(0, 0, 0);
}

.inner-wrapper--top {
  height: 566px;
  background-color: #f1c11b;
  background-image: url('./assets/images/wrapper-bg1.jpg');
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 1020px;
  margin: 0 auto;
  padding-top: 27px;
}

.header__logo {
  display: flex;
  flex-direction: row;
}

.header__title {
  position: relative;
  width: 1px;
  height: 1px;
  visibility: hidden;
  font-size: 0;
  line-height: 0;
}

.header__name {
  margin-left: 8px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 41px;
  line-height: 94px;
  letter-spacing: 4px;
  color: #ffffff;
  text-transform: uppercase;
}

.header__img {
  width: 83px;
  height: 83px;
  margin-left: -1px;
  background-image: url('./assets/images/logo-top.svg');
}

.header__img::before {
  position: absolute;
  width: 79px;
  height: 79px;
  margin-top: 2px;
  margin-left: 3px;
  content: '';
  background-image: url('./assets/images/logo-bot.svg');
}

.header__navlist {
  display: flex;
  width: 453px;
  height: 41px;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0;
  margin-top: 44px;
  padding: 0;
  background-color: #b99403;
  box-shadow: -4px -5px rgba(245, 197, 5, 0.27), -8px -8px  rgba(245, 197, 5, 0.27);
}


.header__navbtn {
  margin-right: 1px;
  list-style: none;
  background-color: #f5c506;
  font-family: 'Segoe WP', Tahoma, Geneva, Verdana, sans-serif;
  cursor: pointer;
  transition: 0.5s;
}

.header__navbtn:hover {
  background-color: white;
  box-shadow: -4px -5px rgba(255, 255, 255, 0.17), -8px -8px  rgba(255, 255, 255, 0.17);
  transition: 0.5s;
}

.header__navbtn--about {
  width: 172px;
}

.header__navbtn--services {
  width: 132px;
}

.header__navbtn:last-child {
  width: 147px;
  margin-right: 0;
}

.header__link {
  display: inline-block;
  height: 41px;
  margin-left: 38px;
  text-decoration: none;
  font-family: 'Segoe WP', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 17px;
  line-height: 41px;
  color: #9b7d08;
  text-transform: uppercase;
  font-weight: bold;
  transition: cubic-bezier(0.075, 0.82, 0.165, 1);
}

.header__link::before {
  position: relative;
  top: 4px;
  display: inline-block;
  width: 21px;
  height: 21px;
  margin-right: 10px;
  content:'';
  background-image: url('./assets/images/aboutus.svg');
  background-size: 100%;
}

.header__link--services {
  margin-left: 12px;
}

.header__link--services::before {
  background-image: url('./assets/images/services.svg');
}

.header__link--contact {
  margin-left: 16px;
}

.header__link--contact::before {
  background-image: url('./assets/images/contact.svg');
  top: 2px;
  width: 25px;
  height: 19px;
  margin-right: 9px;
}

.main {
  display: flex;
  flex-direction: row;
  width: 1000px;
  margin: 0 auto;
  margin-top: 47px;
}

.main__section {
  width: 451px;
  height: 327px;
}

.main__section--video {
  position: relative;
  width: 549px;
}

.main__placeholder {
  position: absolute;
  top: 0;
  width: 549px;
  height: 327px;
  background-image: url('./assets/images/birds.jpg');
}

.main__placeholder:hover .main__vcontrols {
  opacity: 1;
  transition: 0.5s;
}

.main__vcontrols {
  display: flex;
  flex-direction: column;
  align-items: center;
  opacity: 0;
  transition: 0.5s;
}

.main__playbtn {
  width: 67px;
  height: 67px;
  margin-top: 130px;
  border-radius: 33px;
  background-color: #f5c506b6;
  cursor: pointer;
}

.main__playimg {
  width: 20px;
  height: 34px;
  margin-top: 17px;
  margin-left: 27px;
  background-image: url('./assets/images/play.svg');
}

.main__bcontrols {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  margin-top: 81px;
}

.main__stopbtn {
  height: 27px;
  width: 27px;
  margin-left: 29px;
  background-color: #f5c506b6;
  cursor: pointer;
}

.main__stopimg {
  width: 10px;
  height: 16px;
  margin-top: 5px;
  margin-left: 10px;
  background-image: url('./assets/images/play.svg');
  background-size: 100%;
}

.main__timeline {
  width: 404px;
  height: 12px;
  margin-left: 24px;
  background: linear-gradient(to right, #f5c507 45%,#f5c50754 45%,#f5c50754 45%);
  border-radius: 6px;
  cursor: pointer;
}

.main__sound {
  margin-left: 30px;
  cursor: pointer;
}

.main__soundimg {
  margin-top: 5px;
}

.main__title {
  margin-left: 24px;
  margin-top: 70px;
  margin-bottom: 0;
  font-family: 'Asap'; 
  font-size: 64px;
  font-weight: 400;
  color: #f5c506;
  text-transform: uppercase;
  text-align: center;
}

.main__title-bot {
  margin-top: -5px;
  margin-left: 41px;
  color: #ffffff;
}

.main__slider {
  position: absolute;
  top: 300px;
  width: 32px;
  height: 57px;
  background-color: #c8a30d;
  transition: 0.5s;
  cursor: pointer;
}

.main__slider:hover {
  background-color: #ffffff;
}

.main__slider:hover::before, .main__slider:hover::after {
  background-color: rgb(172, 156, 93);
}

.main__slider::before, .main__slider::after {
  position: absolute;
  left: 7px;
  display: block;
  width: 14px;
  height: 4px;
  background-color: #ffffff;
  border-radius: 3px;
  content: '';
  transition: 0.5s;
}

.main__slider::before {
  top: 31px;
  transform: rotate(45deg);
}

.main__slider::after {
  top: 23px;
  transform: rotate(-45deg);
}

.main__slider--left {
  left: 0;
}

.main__slider--right {
  right: 0;
  transform: rotate(180deg);
}

.advantages {
  z-index: 3;
  width: 1300px;
  height: 212px;
  margin: 0 auto;
  background: linear-gradient(45deg, rgb(190, 190, 190) 6%, rgb(247, 246, 246) 6%, rgb(247, 246, 246) 44%, rgb(190, 190, 190) 44%, rgb(190, 190, 190) 56%, rgb(190, 190, 190) 56%, rgb(247, 246, 246) 56%, rgb(247, 246, 246) 94%, rgb(190, 190, 190) 94%);
  background-size: 4px 4px;
  background-repeat: repeat;
}

.advantages__svg {
  fill: #f5c506;
}

.advantages__wrapper {
  display: flex;
  flex-direction: row;
  height: 212px;
  width: 1020px;
  margin: 0 auto;
}

.advantages__item {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  width: 340px;
  border-left: 1px solid rgba(0, 0, 0, 0.103);
}

.advantages__item:last-child {
  border-right: 1px solid rgba(0, 0, 0, 0.103);
}

.advantages__title {
  margin-bottom: 32px;
  margin-left: 18px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 27px;
  letter-spacing: 0px;
  font-weight: 300;
  color: #000000;
  text-transform: uppercase;
}

.advantages__title--free {
  margin-left: -16px;
}

.presentation {
  width: 1300px;
  height: 508px;
  margin: 0 auto;
  background-image: url('./assets/images/presentation-bg.jpg');
  background-position: 16px 13px;
  box-shadow:  inset 0 2px 8px -4px rgb(0, 0, 0);
}

.presentation__wrapper {
  width: 1020px;
  margin: 0 auto;
  padding-top: 31px;
}

.presentation__title {
  margin: 0;
  margin-bottom: 31px;
  font-family: "PT Sans";
  font-size: 37px;
  font-weight: 400;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  color: #ffffff;
}

.presentation__line {
  display: flex;
  flex-direction: row;
}

.presentation__description {
  position: relative;
  width: 340px;
  height: 233px;
  background-color: #ec9e03;
  font-size: 29px;
  color: #ffffff;
}

.presentation__text {
  margin: 15px 30px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 300;
  letter-spacing: 0.3px;
}

.presentation__preview {
  width: 315px;
  height: 233px;
  margin-right: 34px;
  background-image: url('./assets/images/prev.jpg');
}

.presentation__share {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 328px;
  height: 233px;
  background-color: #ec9e03;
}

.presentation__messages {
  display: none;
}

.presentation__plus {
  position: absolute;
  bottom: 6px;
  right: 15px;
  cursor: pointer;
}

.presentation__svg {
  z-index: 3;
  fill: #ffffff;
  cursor: pointer;
}

.presentation__svg:hover {
  fill: #636363;
}


.presentation__plus--share {
  bottom: 8px;
  right: 8px;
}

.presentation__share>svg {
  margin-top: 11px;
  margin-left: 82px;
}

.presentation__counter {
  align-self: flex-end;
  margin-top: 9px;
  margin-right: 16px;
  font-family: "Segoe WP";
  font-size: 25px;
  line-height: 38px;
  font-weight: 300;
  letter-spacing: 0px;
  color: #ffffff;
}

.presentation__playbtn {
  position: relative;
  width: 61px;
  height: 61px;
  margin-top: 93px;
  margin-left: 130px;
  border-radius: 30px;
  background-color: #f5c506b6;
  cursor: pointer;
}

.presentation__playimg {
  position: absolute;
  width: 17px;
  height: 31px;
  top: 15px;
  left: 25px;
  background-image: url('./assets/images/play.svg');
  background-size: 107%;
}

.presentation__time {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 113px;
  height: 86px;
  background-color: #ddb101;
}

.presentation__date {
  margin-top: 12px;
  margin-left: 5px;
  font-family: "Segoe UI";
  font-size: 51px;
  line-height: 38px;
  letter-spacing: 1px;
  font-weight: bold;
  color: #ffffff;
}

.presentation__mounth {
  margin-left: 5px;
  font-family: "Segoe UI";
  font-size: 21px;
  line-height: 38px;
  letter-spacing: 0px;
  text-transform: uppercase;
  color: #b26529;
}

.presentation__scrollbar {
  position: relative;
  width: 896px;
  height: 15px;
  margin: 0 auto;
  margin-top: 43px;
  margin-left: 73px;
  border-radius: 7px;
  background-color: #ffffff94;
}

.presentation__scroll {
  position: absolute;
  left: 247px;
  width: 197px;
  height: 15px;
  margin: 0 auto;
  background-color: #ec9e03;
  border-radius: 7px;
  cursor: pointer;
}

.presentation__scroll:hover {
  background-color: #ffffff;
}

.page-footer {
  position: relative;
  width: 1300px;
  height: 497px;
  margin: 0 auto;
  background-image: url('./assets/images/footer-bg.jpg');
  box-shadow:  inset 0 -6px 6px -4px rgb(0, 0, 0);
}

.footer__wrapper {
  width: 1020px;
  margin: 0 auto;
  padding-top: 36px;
}

.footer__title {
  margin: 0;
  margin-left: 210px;
  font-family: "PT Sans";
  font-size: 43px;
  font-weight: 400;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  color: #f5c506;
}

.footer__content {
  display: flex;
  flex-direction: row;
}

.footer__devices {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  width: 635px;
  margin-bottom: 30px;
}

.footer__mark {
  position: absolute;
  top: 2px;
  left: -2px;
  width: 116px;
  height: 116px;
  border-radius: 58px;
  background-color: #f5c506;
}

.footer__text {
  margin-left: 8px;
  font-family: 'PT Sans', sans-serif;
  font-size: 16px;
  line-height: 121px;
  font-weight: 700;
  letter-spacing: 0px;
  text-transform: uppercase;
  color: #ffffff;
}

.footer__desktop {
  width: 323px;
  height: 255px;
  background-image: url('./assets/images/desktop.png');
  margin-left: 18px;
}

.footer__tablet {
  width: 129px;
  height: 173px;
  margin-left: 24px;
  margin-bottom: 40px;
  background-image: url('./assets/images/tablet.png');
}

.footer__mobile {
  width: 39px;
  height: 63px;
  margin-left: 25px;
  margin-bottom: 40px;
  background-image: url('./assets/images/mobile.png');
}

.footer__info {
  width: 385px;
}

.footer__descriptions {
  margin-left: 22px;
  margin-top: 92px;
  padding: 0;
  list-style-image: url('./assets/images/list-image.png');
}

.footer__point {
  margin-bottom: 21px;
  padding-left: 14px;
  font-family: sans-serif;
  font-size: 22px;
  font-weight: 100;
  letter-spacing: 0.8px;
  color: #a9a9a7;
}

.footer__logo {
  display: flex;
  flex-direction: row;
  height: 64px;
  width: 1300px;
  margin: 0 auto;
  background-color: #4c4c4c;
}

.footer__name {
  margin-left: 8px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 29px;
  line-height: 67px;
  letter-spacing: 3px;
  text-transform: uppercase;
  color: #ffffff;
}

.footer__img {
  width: 55px;
  height: 55px;
  margin-left: 139px;
  margin-top: 6px;
  background-image: url('./assets/images/logo-top.svg');
  background-size: 100%;
}

.footer__img::before {
  position: absolute;
  content: '';
  width: 51px;
  height: 51px;
  margin-top: 1px;
  margin-left: 2px;
  background-image: url('./assets/images/logo-bot.svg');
  background-size: 100%;
}

@media (max-width: 640px) {
  .inner-wrapper {
    width: 640px;
    height: auto;
    background: none;
  }

  .header {
    width: auto;
    height: 62px;
    padding: 0;
  }

  .main__slider {
    display: none;
  }
  
  .header__logo {
    width: 186px;
    height: 62px;
    background-image: linear-gradient(to bottom, #41413fbd 0%, #282826 100%);
  }

  .header__img {
    width: 40px;
    height: 40px;
    margin-top: 11px;
    margin-left: 12px;
    background-size: 100%;
  }

  .header__img::before {
    width: 38px;
    height: 37px;
    margin: 1px 1px;
    background-size: 100%;
  }

  .header__name {
    font-family: "Lucida Sans";
    font-size: 19px;
    line-height: 66px;
    letter-spacing: 2px;
    color: #ffffff;
    font-style: italic;
    text-align: center;
    text-shadow: 2px 2px 2px #000000;
  }

  .header__navlist {
    margin: 0;
    width: 454px;
  }

  .header__navlist {
    height: 62px;
    box-shadow: none;
  }

  .header__navbtn--about {
    width: 171px;
  }

  .header__navbtn:hover {
    box-shadow: none;
  }

  .header__navbtn:last-child {
    width: 149px;
  }
  
  .header__link {
    height: 62px;
    font-size: 18px;
    line-height: 62px;
    letter-spacing: 0.8px;
  }

  .header__link::before {
    left: 13px;
    width: 25px;
    height: 23px;
    margin-right: 24px;
  }

  .header__link--services::before {
    top: 5px;
    left: -6px;
    height: 25px;
    margin-right: 0;
  }

  .header__link--contact::before {
    top: 3px;
    left: -6px;
    width: 29px;
    height: 23px;
    margin-right: 6px;
  }


  .header__link--about {
    margin-left: 10px;
  }

  .main {
    margin: 0;
    width: 640px;
  }

  .main__vcontrols {
    height: 327px;
  }

  .main__section--video {
    width: 640px;
    height: 327px;
  }

  .main__section--title {
    display: none;
  }

  .main__placeholder {
    width: 640px;
    height: 327px;
    background-image: url('./assets/images/birds-mobile.jpg');
    box-shadow:  inset 0 4px 4px -4px rgb(0, 0, 0);
  }

  .main__playbtn {
    margin-top: 130px;
    margin-left: 17px;
  }

  .main__stopbtn {
    margin-left: 83px;
  }

  .advantages {
    position: relative;
    width: 640px;
    height: 165px;
  }

  .advantages__layer {
    position: absolute;
    top: -4px;
    z-index: 1;
    width: 640px;
    height: 174px;
    background: linear-gradient(45deg, rgb(190, 190, 190) 6%, rgb(247, 246, 246) 6%, rgb(247, 246, 246) 44%, rgb(190, 190, 190) 44%, rgb(190, 190, 190) 56%, rgb(190, 190, 190) 56%, rgb(247, 246, 246) 56%, rgb(247, 246, 246) 94%, rgb(190, 190, 190) 94%);
    background-repeat: repeat;
    background-size: 4px 4px;
    opacity: 0.3;
  }

  .advantages__layer:nth-child(2) {
    top: -9px;
    height: 179px;
  }

  .advantages__wrapper {
    width: auto;
    height: auto;
    padding-top: 27px;
  }

  .advantages__item {
    z-index: 3;
    width: 33%;
    border: none;
  }

  .advantages__item:last-child {
    border: none;
  }

  .advantages__svg--design {
    width: 90px;
    height: 62px;
    margin-left: -33px;
  }

  .advantages__svg--customise {
    width: 67px;
    height: 69px;
    margin-left: 25px;
  }

  .advantages__svg--free {
    width: 68px;
    height: 69px;
    margin-left: 3px;
  }

  .advantages__title {
    margin-top: 16px;
    margin-left: 20px;
    font-size: 23px;
    text-align: center;
  }

  .advantages__title--design {
    margin-left: -25px;
  }

  .presentation {
    width: 640px;
    height: auto;
    background-image: none;
    box-shadow: none;
  }

  .presentation__wrapper {
    width: 640px;
    padding-top: 15px;
  }

  .presentation__line {
    flex-wrap: wrap;
  }

  .presentation__title {
    display: none;
  }

  .presentation__description {
    width: 299px;
    margin: 0 9px;
  }

  .presentation__preview {
    width: 314px;
    margin-right: 9px;
  }

  .presentation__text {
    margin-top: 16px;
    margin-left: 26px;
    line-height: 33px;
  }

  .presentation__time {
    display: none;
  }

  .presentation__share {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 640px;
    margin-top: 9px;
    background-color: #f5c507;
  }

  .presentation__messages {
    display: flex;
    flex-direction: column;
    width: 307px;
    padding-top: 10px;
    font-size: 13px;
  }

  .presentation__form {
    display: flex;
    flex-direction: row;
    width: 270px;
    height: 29px;
    margin-top: 13px;
    margin-left: 3px;
    border: 1px solid #d0a706;
    border-radius: 10px;
  }

  .presentation__input {
    width: 200px;
    height: 29px;
    padding: 0 10px;
    border: none;
    border-radius: 10px 0 0 10px;
    font-family: "Arial";
    font-size: 15px;
    letter-spacing: 0px;
    color: #000000;
  }

  .presentatio__button {
    display: block;
    width: 70px;
    height: 29px;
    padding: 0;
    background-color: #d49210;
    border: none;
    border-radius: 0 10px 10px 0;
    font-family: "Arial";
    font-size: 15px;
    letter-spacing: 0px;
    color: #ffffff;
  }

  .presentation__tweet {
    width: 275px;
    height: 42px;
    margin-top: 14px;
    padding: 7px 30px 7px 19px;
    box-sizing: border-box;
    background-color: #ffffff;
    border-radius: 10px;
    font-family: Arial, Helvetica, sans-serif;
  }

  .presentation__tweet:nth-child(2) {
    background-color: #fceeb5;
  }

  .presentation__tweet:nth-child(3) {
    background-color: #fbe89c;
  }

  .presentation__counter {
    display: none;
  }

  .presentation__plus {
    display: none;
  }

  .presentation__scrollbar {
    display: none;
  }

  .presentation__share>svg {
    margin-top: 57px;
    margin-left: 82px;
  }

  .page-footer {
    width: 640px;
    height: auto;
    background-color: #474747;
    background-image: none;
  }

  .footer__wrapper {
    width: 640px;
    padding-top: 32px;
  }

  .footer__title {
    margin-left: 20px;
    font-size: 39px;
    letter-spacing: 2px;
  }

  .footer__info {
    display: none;
  }

  .footer__content {
    margin-top: 73px;
  }

  .footer__mark {
    top: -41px;
    left: 27px;
  }

  .footer__devices {
    margin-bottom: 55px;
  }

  .footer__desktop {
    margin-left: 57px;
  }

  .footer__logo {
    width: 640px;
    height: 43px;
  }

  .footer__img {
    margin-left: 65px;
    width: 31px;
    height: 31px;
  }

  .footer__img::before {
    width: 29px;
    height: 29px;
  }

  .footer__name {
    margin-left: 11px;
    font-family: "Lucida Sans";
    font-size: 17px;
    line-height: 43px;
    letter-spacing: 1px;
    font-style: italic;
    text-align: center;
    color: #ffffff;
  }
}