// Constants

$theme-color: #E3B873;
$dark-text-color: black;
$light-text-color: white;
$dark-back-color: #131313;
$light-back-color: white;

// Mixins

@mixin header-strong-font {
    font-family: FuturaDemiC;
    font-size: 14px;
    line-height: 16px;
    text-transform: uppercase;   
}

@mixin header-normal-font {
    font-family: FuturaBookC;
    font-size: 14px;
    line-height: 16px;
    text-transform: uppercase;    
}

@mixin button-normal-font {
    font-family: FuturaBookC;
    font-size: 13px;
    line-height: 15px;
    text-transform: uppercase;    
}

.theme-color {
    color: $theme-color;        
}

// Body

* {
    padding: 0;
    margin: 0;
}

body {
    width: 1440px;
    display: flex;
    flex-direction: column;
}

header, footer {
    flex: 0 0 83px;
    background-color: $dark-back-color;
}

// Header

.header__title {
    @include header-strong-font();
    color: $theme-color;
    display: inline-block;
}

.header__menu {
    display: inline-block;
    .header__menu-item {
        list-style-type: none;
        display: inline;
        .header__menu-link {
            @include header-normal-font();
            text-decoration: none;
            cursor: default;    
            color: $light-text-color;
            &:hover {
                color: $theme-color;
            }
        }
    }
}

.header__phone {
    display: inline-block;
    .header__phone-link {
        @include header-normal-font();
        cursor: default;
        &:link {
            color: $theme-color;
        }
        &:visited {
            color: $theme-color;
        }
        &:hover {
            color: $light-text-color;
        }
    }
}

.header__call-button {
    width: 161px;
    height: 37px;
    background-color: $theme-color;
    box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.2);
    border-radius: 2px;
    display: inline-block;
    text-align: center;
    @include button-normal-font();
    color: $light-text-color;
    &:hover {
        color: $dark-back-color;
    }
}

main {
    flex: auto;
    display: flex;
    flex-direction: column;
}

// Banner

.banner {
    height: 707px;
    display: flex;
    flex-direction: row;
    position: relative;
}

.banner__instagram-panel {
    position: relative;
    flex-basis: 82px;
    flex-grow: 0;
    flex-shrink: 0;
    height: 707px;
    background-color: $dark-back-color; 
}

.banner__instagram-image {
    position: absolute;
    left: calc(50% - 20px / 2);
    top: 150px;
}

.banner__main-panel {
    display: flex;
    flex-direction: column;
    background: $dark-back-color;
}

.banner__main {
    background-image: url("./assets/images/banner.png");
    background-repeat: no-repeat; 
    flex-basis: 707px;
    width: 1356px;
    margin-left: 2px;
    position: relative;    
    &:after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: rgba(0,0,0,0.6);
        z-index: 1;        
    }
}

.banner__main-content {
    position: relative;
    z-index: 2;
    color: $light-text-color;
    text-align: center;
    padding: 50px;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

.banner__main-content-title {
    flex: 1 1 50px;
    width: 576px;
    font-family: Yeseva One;
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    line-height: 53px;
    text-align: left;
    text-transform: uppercase;
    color: $light-text-color;
}

.banner__main-content-text {
    flex: 1 1 50px;
    width: 480px;
    margin-top: 20px;
    font-family: FuturaBookC;
    font-size: 22px;
    line-height: 30px;
    text-align: left;
    color: $light-text-color;    
}

.banner__main-content-buttons {
    flex: 1 1 50px;
    margin-top: 40px;
}

.banner__btn-calculate {
    width: 207px;
    height: 51px;
    box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.3);
    border: 1px transparent;
    border-radius: 2px;
    font-family: FuturaDemiC;
    font-size: 13px;
    line-height: 15px;
    text-align: center;
    text-transform: uppercase;
    color: $light-text-color;
    background-color: $theme-color;
    &:hover {
        box-shadow: 0 0 10px rgba(0,0,0,0.5);
    }
}

.banner__btn-submit {
    width: 207px;
    height: 51px;
    margin-left: 15px;
    border: 1px solid $light-text-color;
    box-sizing: border-box;
    border-radius: 2px;
    font-family: FuturaDemiC;
    font-size: 13px;
    line-height: 15px;
    text-align: center;
    text-transform: uppercase;
    color: $light-text-color;
    background-color: transparent; 

    &:hover {
        box-shadow: 0 0 10px rgba(0,0,0,0.5);
    }
}

.banner__bottom {
    background-color: $dark-back-color;
    flex-basis: 48px;
}

.banner__scroll-down {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 247px;
    height: 97px;
    background: $dark-back-color;
    z-index: 2;
}

.banner__scroll-down-text {
    position: relative;
    left: 40px;
    top: 40px;
    color: $light-text-color;
    font-family: Yeseva One;
    font-size: 14px;
    line-height: 19px;
    text-transform: uppercase;    
}

.banner__scroll-down-button {
    position: relative;
    left: 160px;
    top: 16px;
}

// Projects
.realized-projects {
    height: 1074px;
    background: #ccc; 
}

// Online Control
.online-control {
    height: 1074px;
    background: #aaa; 
}

@media screen and (max-width: 375px) {    
    body {
        min-height: 100vh;
        background: #181818;
    }

    main {
        flex-direction: row;
        min-height: 100%;
        flex: 1 1 auto;
    }
}